worker_processes 1;
events {
    worker_connections  1024;
}
http {
     include            mime.types;
     default_type       application/octet-stream;
     sendfile           on;
     keepalive_timeout  65;
     charset            utf-8;
     upstream zyj{
        server 192.168.32.150:80;
        server 192.168.32.151:80;
        #server 192.168.32.152:80;
        }
     server {
        listen          80;
        server_name     localhost;
        location / {
            proxy_pass http://zyj;
        }
        error_page 500 502 503 504  /50x.html;
            location =  /50x.html {
            root        html;
        }
     }
}
